<main>			
			<div class="row">
                    <div class="jumbotron">
                        <img src="img/{{item.image}}"></img>
                        <h3>Details for {{item.full_name}}:</h3>
                        <p>Age: {{item.age}}</p>
                        <p>{{item.job}}</p>
                        <h4>{{item.net_worth}}</h4>
                    </div>
                </div>
                <div class="row">
                	<a href="#/" class="btn btn-primary btn-lg">Back to List</a>

                </div>
        </main>